Flask
Flask-Cors
python-dotenv
Flask-SQLAlchemy
itsdangerous
SQLAlchemy
Werkzeug
ldap3
psycopg2-binary # Use psycopg2-binary for easier installation
mysql-connector-python
pymongo
# pyodbc # Uncomment if you enable MS SQL connection and install appropriate ODBC driver
# ibm_db # Uncomment if you enable DB2 connection
apscheduler
